*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: auto;
}

.box{
    position: absolute;
    bottom: 20px;
    width: 1200px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.box .b{
    width: 125px;
    height: 125px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 125px;
}
.box1{
        background-color: aqua;
}.box2{
        background-color: aquamarine;
}.box3{
        background-color: pink;
}.box4{
        background-color: burlywood;
}.box5{
        background-color: grey;
}