*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: auto;
}
.flex{
    display: flex;
}
.gap{
    gap: 20px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ai{
    align-items: center;
}
.jc{
    justify-content: flex-start;
}
.jcc{
    justify-content: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(104, 103, 103);
}
.p{
    padding: 10px 0;
}
.m{
    margin: 20px;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
    color: black;
    font-weight: bolder;
}
.fav ul{
    list-style: square;
}
p a{
    text-decoration: underline;
    color: blueviolet;
}
img{
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 50%;
}
.intro{
    text-align: center;
}
.fav{
    padding: 70px;
    gap: 50px;
    line-height: 40px;
}
.form{
    border: 2px solid rgb(146, 143, 143);
    border-radius: 20px;
    padding: 30px;
    line-height: 40px;
    background: rgb(219, 219, 219);
}
.input{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 5px;

}
button{
    background: rgb(85, 85, 212);
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
}

@media (max-width: 768px) {

    .container {
        width: 100%;
        padding: 0 15px;
    }

    .flex {
        flex-direction: column;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    img {
        width: 180px;
        height: 180px;
        margin: auto;
    }

    .fav {
        padding: 30px;
        gap: 20px;
        line-height: 30px;
    }

    .form {
        padding: 20px;
    }

    button {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .container {
        width: 90%;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    img {
        width: 220px;
        height: 220px;
    }

    .fav {
        padding: 50px;
        gap: 30px;
    }
}

@media (min-width: 1025px) {

    .container {
        width: 1200px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    img {
        width: 250px;
        height: 250px;
    }
}
