

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

.photos-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 40px;
}

.photos-flex img {
  flex: 1 1 100%;
}

.photos-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}


@media (min-width: 769px) and (max-width: 1024px) {
  .photos-flex img {
    flex: 1 1 calc(50% - 16px);
  }

  .photos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .photos-flex img {
    flex: 1 1 calc(25% - 16px);
  }

  .photos-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
