*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(167, 148, 123);
    padding: 30px;
}
h1{
    text-align: center;
    color: #333;
}
#status{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20;
    color: #555;
}
ul{
    max-width: 500px;
    margin: auto;
    padding: 0;
    list-style: none;
}
li{
    background-color: white;
    margin: 8px 0;
    padding: 12px 15px;
    border-radius: 6px;
    box-shadow: 0 2px 5px black;
}